In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r"D:\Big Data Analytics- Sem 3\Capstone Project\Toronto\calendar.csv")

C:\Users\vidha\AppData\Local\Temp\ipykernel_25952\2257960845.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"D:\Big Data Analytics- Sem 3\Capstone Project\Toronto\calendar.csv")

In [5]:
def price_cleaning(df,column):
    df[column] = pd.to_numeric(df[column].apply(lambda x: str(x).replace('$', '').replace(',', '')), errors='coerce')
    return df[column].head()

In [7]:
# Converting the price in calendar_df
price_cleaning(df,'price')

0    100.0
1    100.0
2    100.0
3    100.0
4    100.0
Name: price, dtype: float64

In [9]:
# convert the date column to datetime format
df['date'] = pd.to_datetime(df['date'])

# extract the month from the date column
df['month'] = df['date'].dt.strftime('%Y-%m')

df

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,month
0,146601,2024-06-11,f,100.0,NaN,28.0,1125.0,2024-06
1,146601,2024-06-12,f,100.0,NaN,28.0,1125.0,2024-06
2,146601,2024-06-13,f,100.0,NaN,28.0,1125.0,2024-06
3,146601,2024-06-14,f,100.0,NaN,28.0,1125.0,2024-06
4,146601,2024-06-15,f,100.0,NaN,28.0,1125.0,2024-06
...,...,...,...,...,...,...,...,...
7706972,790887,2025-06-06,f,84.0,NaN,1.0,14.0,2025-06
7706973,790887,2025-06-07,f,84.0,NaN,1.0,14.0,2025-06
7706974,790887,2025-06-08,f,84.0,NaN,1.0,14.0,2025-06
7706975,790887,2025-06-09,f,84.0,NaN,1.0,14.0,2025-06
7706976,790887,2025-06-10,f,84.0,NaN,1.0,14.0,2025-06

In [ ]:
# delete the date column
df = df.drop('date', axis=1)

# delete duplicate rows
df = df.drop_duplicates()

In [16]:
df['adjusted_price'].value_counts()

adjusted_price
$1,300.00    25
$1,750.00    15
$8,000.00    13
$585.00      13
$745.00      13
$1,217.00    10
$549.00       3
$799.00       2
$999.00       2
$699.00       1
$1,099.00     1
Name: count, dtype: int64

In [18]:
df['adjusted_price'] = df['adjusted_price'].fillna(0)

In [20]:
# Converting the price in calendar_df
price_cleaning(df,'adjusted_price')

0      0.0
20     0.0
51     0.0
82     0.0
112    0.0
Name: adjusted_price, dtype: float64

In [22]:
# replace 't' with 1 and else with 0 in the 'available' column
df['available'] = df['available'].replace({'t': 1, 'f': 0})

# change the dtype of the'month' column to datetime
df['month'] = pd.to_datetime(df['month'])

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334714 entries, 0 to 7706967
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   listing_id      334714 non-null  int64
 1   available       334714 non-null  int64
 2   price           334714 non-null  float64
 3   adjusted_price  334714 non-null  float64
 4   minimum_nights  334711 non-null  float64
 5   maximum_nights  334711 non-null  float64
 6   month           334714 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 20.4 MB

In [24]:
df.to_csv("D:\Big Data Analytics- Sem 3\Capstone Project\Toronto\Milestone1&2\Calendar_groupby_month.csv", index=False)